{% extends "base.html" %}

{% block jumbo %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Sobre Nós</h1>
<p>O site da empresa "Insurance4all" foi criada no âmbito da cadeira DAW( Desenvolvimento de aplicações Web ) e pretende oferecer ao cliente uma interface simples e eficaz que permita ao utilizador navegar pela mesma com fluidez e sem interrupções</p>
<p>Apresentamo-nos no mercado dos seguros como um forte concorrente pois contamos com preços bastante acessíveis e disponibilidade de esclarecimento de qualquer dúvida via email 24 horas todos dias da semana. </p><p>Como somos uma empresa recém-criada e com um capital inicial bastante reduzido. apenas abrangemos os seguros de aparelhos electrónicos, mas temos como objectivos futuros entrar no mercado de todo o outro tipo de seguros tais como: Carro, Moto e Vida. </p>
<p>Em seguida fica apenas um exemplo de um dos nosso funcionários a tirar proveito do seu "sentido de oportunidade" e a angariar mais um (o único) cliente para usufruir dos serviços prestados pela nossa empresa. </p>
<div class='col-sm-4'>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VVg9odA4kxw" frameborder="0" allowfullscreen></iframe>
</div>
</div>

</div>


{% endblock %}