{% load staticfiles %}
<!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-rectangle" src="{% static 'img/smartphones.jpg' %}" alt="Generic placeholder image" width="300" height="200">
          <h2>Smartphone</h2>
          <p>Simule já o seguro para o seu Smartphone.</p>
          <p><a class="btn btn-primary" href="{% url 'simulacoes' %}" role="button">Simule já ! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rectangle" src="{% static 'img/tablet.jpg' %}" alt="Generic placeholder image" width="300" height="200">
          <h2>Tablet</h2>
          <p>Simule já o seguro para o seu Tablet ! </p>
          <p><a class="btn btn-primary" href="{% url 'simulacoes' %}" role="button">Simule já ! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rectangle" src="{% static 'img/portatil.jpg' %}" alt="Generic placeholder image" width="300" height="200">
          <h2>Computador Portátil</h2>
          <p>Simule já o seguro para o seu computador portátil ! </p>
          <p><a class="btn btn-primary" href="{% url 'simulacoes' %}" role="button">Simule já ! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rectangle" src="{% static 'img/televisor1.png' %}" alt="Generic placeholder image" width="300" height="200">
          <h2>Televisores</h2>
          <p>Simule já o seguro para o seu Televisor !</p>
          <p><a class="btn btn-primary" href="{% url 'simulacoes' %}" role="button">Simule já ! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rectangle" src="{% static 'img/camara.jpg' %}"alt="Generic placeholder image" width="300" height="200">
          <h2>Câmaras fotográficas</h2>
          <p>Simule já o seguro para a sua Câmara Fotográfica! </p>
          <p><a class="btn btn-primary" href="{% url 'simulacoes' %}" role="button">Simule já ! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rectangle" src="{% static 'img/maquinalavar.jpg' %}"alt="Generic placeholder image" width="300" height="200">
          <h2>Outros</h2>
          <p>Simule já o seguro para o seu electrodoméstico !</p>
          <p><a class="btn btn-primary" href="{% url 'simulacoes' %}" role="button">Simule já !&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      